.image--leftside {
  max-width: 30%;
  float: left;
  margin: 0 30px 15px 15px;
}

.image--rightside {
  max-width: 30%;
  float: right;
  margin: 0 15px 15px 30px;
}

@media (max-width: 767px) {
  .image {
    float: none;
    max-width: 100%;
    margin: 10px 0;
  }
}
