.location__container {
  align-items: center;
}

.location__address {
  width: 40%;
}

.location__address a {
  color: #555;
  display: block;
}

.location__address a:hover {
  color: #000;
}

@media (max-width: 767px) {
  .location__address {
    width: 100%;
    margin-bottom: 20px;
  }
}
