.quotes {
  position: relative;
}

.quotes__container {
  flex-wrap: wrap;
}

.quotes__card blockquote {
  margin-right: 10px;
  margin-left: 10px;
}

.quotes__card blockquote p {
  margin: 0;
  position: relative;
  padding: 0 15px 0 30px;
}

.quotes__card blockquote p::before {
  content: '\201C';
  top: 0;
  left: -10px;
  font-size: 3em;
  position: absolute;
  color: #000;
}

.quotes__card blockquote p::after {
  content: '\201D';
  bottom: -20px;
  right: 5px;
  font-size: 2em;
  position: absolute;
  color: #000;
}

.quotes__card footer {
  padding-left: 30px;
  margin-top: 20px;
}

.quotes__text {
  font-style: italic;
  font-size: 18px;
}

.quotes__next,
.quotes__prev {
  position: absolute;
  top: calc((100% - 50px) * 0.5);
  background-color: transparent;
  border: none;
}

.quotes__next:focus,
.quotes__prev:focus {
  outline: none;
}

.quotes__next:hover::after,
.quotes__prev:hover::after {
  cursor: pointer;
  color: #000;
}

.quotes__next {
  right: -9px;
}

.quotes__prev {
  left: -38px;
}

.quotes__next::after,
.quotes__prev::after {
  position: absolute;
  font-weight: 700;
  font-size: 2em;
  color: #555555;
}

.quotes__next::after {
  content: "\21FE";
}

.quotes__prev::after {
  content: "\21FD";
}

@media (max-width: 1199px) {
  .quotes__card blockquote {
    margin-right: 0;
    margin-left: 0;
  }
}
